* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #121212;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
  outline: none;
}
::selection {
  background: #000;
  color: #ffffff;
}
